.card {
  width: 12em;
  height: 16em;
  border-radius: 0.5em;
  text-align: center;
  // box-shadow: 0.2em 1em 2em 0.4em rgb(129, 148, 137);
  // :hover {
  //   box-shadow: 0.2em 1em 2em 0.4em rgb(129, 148, 137);
  // }
}
